<section class="section section-lg">
    <div class=""></div>
    <div class="container pt-lg-md">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow border-0 mt-5">
                    <div class="card-header bg-white pb-5">
                        <div class="text-center"><img src="assets/Pokemon_logo.svg" /></div>

                        <div class="text-center mb-3 ">
                            <h1>Se connecter</h1>
                        </div>
                        <div class="text-center">
                            <img src="../../../assets/pokedexlogin.gif" class="pokedexicon" />
                        </div>
                    </div>
                    <div class="card-body px-lg-5 py-lg-5 bg-grey">
                        <app-formulaire-login></app-formulaire-login>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>