.imageBooster {
    width: 120px;
    align-self: center;
}

button {
    position: absolute;
    background-color: #BE1F19;
    color: white;
    border-radius: 5px;
    border: none;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    font-size: 26px;
    font-weight: bolder;
    // left: -6px;
    left: 300px;
    top: 0px !important;
    transition: background-color 0.5s;
}
button:hover {
    background-color: #A41815;
}